/.DS_Store
/__pycache__
/testing.py
/floris.mp4
/flowers.mp4
/project_solutions
/output
/solutions
floris_1.mp4
floris_9.mp4
flowers_1.mp4
flowers_9.mp4
array.sh
array_floris.sh
array_flowers.sh
gauss_floris.sh
gauss_flowers.sh
scaling_floris.sh
scaling_flowers.sh
debug.sh
case48_initial.csv
case48_flowers.csv
case48_floris.csv